################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
setuptools = 0.6c9
[part]
name = part
recipe = minitage.recipe:cmmi
url = http://distfiles.minitage.org/public/externals/minitage/db-4.7.25.tar.gz
md5sum = ec2b87e833779681a0c3a814aa71359e
configure = dist/configure
configure-options =
        --enable-compat185 --enable-cxx
        --enable-dynamic --enable-rpc --enable-pthread_api
gmake=True
patches=
    ${buildout:directory}/patch.4.7.25.1
    ${buildout:directory}/patch.4.7.25.2
    ${buildout:directory}/patch.4.7.25.3
build-dir=${buildout:directory}/build
patch-options= -Np0 -d  ${buildout:directory}/__minitage__part__tmp/db-4.7.25 --ignore-whitespace

